header {
	display: flex;
	background-image: url(../foto/cover.jpg);
	background-size: cover;
	background-position: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 65%;
}

body {
	margin: 0;
}

.overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

header h1 {
	text-align: center;
	color: white;
	top: 15%;
	position: relative;
}

header em {
	font-size: 1.7em;
	font-weight: normal;
}

header p {
	font-size: 0.7em;
}

#mainbox,
.sidemenu,
.closebtn {
	display: none;
}

header nav {
	position: absolute;
	display: flex;
	background-color: burlywood;
	padding: 15px;
	align-items: center;
	justify-content: space-around;
	top: 0;
	left: 0;
	right: 0;
	font-size: 20px;
}

#links a {
	color: rgb(255, 255, 255);
	padding: 10px;
	text-decoration: none;
}

#links a:hover {
	color: rgb(0, 0, 0);
}

#logo {
	font-size: 1.7em;
	color: white;
}

form {
	margin-top: 120px;
	z-index: 8;
	width: 300px;
}

.hidden {
	display: none !important;
}

#ricerca1 {
	display: block;
	align-items: center;
	text-align: center;
	margin: 10px;
	margin-top: 30px;
	margin-right: 40%;
	margin-left: 40%;
	background-color: rgba(255, 255, 255, 0.781);
	position: relative;
	top: 30%;
}

#ricerca1 p {
	font-size: 1.2em;
}

.border {
	border: 2px solid black;
}

#ricerca2 {
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-position: center;
	margin: 100px;
	margin-top: 0;
}

#train {
	background-color: rgba(255, 255, 255, 0.438);
	border-radius: 10px;
}

#submit {
	background-color: rgba(255, 255, 255, 0.438);
	margin-left: 50px;
}

#submit:hover {
	background-color: white;
}

.carrello_nav {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.carrello_nav:hover {
	transform: scale(1.2);
}

#ricerca3 {
	position: relative;
	margin-right: 20%;
	margin-left: 20%;
	bottom: 25%;
	background-color: rgba(255, 255, 255, 0.781);
}

#ricerca3 p {
	font-size: 1.2em;
	border: 2px solid black;
}

.oggetti_carrello {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
}

.oggetti_carrello p {
	margin: 0;
	font-size: 1em;
}

.oggetti_carrello_mobile p {
	display: inline;
}

.ban {
	width: 100%;
	height: 1000px;
}

footer {
	position: relative;
	display: flex;
	background-color: rgb(222, 184, 135);
	text-align: center;
	left: 0;
	right: 0;
	bottom: -28%;
	font-size: 15px;
	align-items: center;
	justify-content: space-between;
}

footer address {
	font-size: 2em;
	margin-left: 30%;
}

footer p {
	font-size: 1.7em;
	margin-right: 30%;
}

@media (max-width: 500px) {
	#mainbox {
		display: inline;
		font-size: 24px;
		cursor: pointer;
		transition: all .6s;
		color: white;
	}
	.sidemenu {
		display: inline;
		position: fixed;
		top: 0px;
		right: 0px;
		height: 100%;
		width: 0px;
		background-color: #222;
		z-index: 10;
		padding-top: 50%;
		overflow-x: hidden;
		transition: all .5s;
	}
	.sidemenu a {
		padding: 10px 10px 10px 45%;
		text-decoration: none;
		font-size: 20px;
		color: #999;
		display: block;
	}
	.sidemenu a:hover {
		color: white;
	}
	.sidemenu .closebtn {
		display: inline;
		position: absolute;
		top: 0px;
		right: 25px;
		font-size: 36px;
		margin-left: 32px;
	}
	#links {
		display: none;
	}
	header h1 {
		font-size: 1em;
		margin-top: 15%;
	}
	header {
		height: 300px;
		line-height: 1.2;
	}
	header nav {
		justify-content: space-between;
	}
	#logo {
		font-size: 0.7em;
	}
	form {
		margin-top: 50px;
	}
	#train {
		width: 100px;
	}
	#ricerca1 {
		margin: 0;
		margin-left: 25%;
		width: 50%;
		top: 0.5%;
	}
	#ricerca2 {
		margin: 5px;
		height: -50%;
	}
	#ricerca3 {
		margin: 5px;
		height: -50%;
	}

	#ricerca1 p {
		font-size: 0.8em;
	}

	#ricerca3 p {
		font-size: 0.8em;
		border: 2px solid black;
		margin-top: 60%;
	}

	.ban {
		width: 100%;
		height: 300px;
	}

	footer {
		bottom: 0;
	}
	footer address {
		font-size: 1em;
	}
	footer p {
		font-size: 0.7em;
	}
}
